<div id="containerP1" class="h-100">
  <div id="containerP2" class="">
    <h1 class="pt-5">Pedidos</h1>
    <table class="table mt-5">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Data</th>
          <th>Pedido</th>
          <th>Valor</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidosCompleto">
          <td>{{ pedido.nomePessoa }}</td>
          <td>{{ pedido.cpfPessoa }}</td>
          <td>{{ pedido.dataPedido }}</td>
          <td>{{ pedido.nomePedido }}</td>
          <td>R${{ pedido.valorPedido }}</td>
          <td>
            <select class="form-select" id="situacaoOP" [value]="pedido.pedidoAss.situacao" (change)="changeStatus(pedido)">
              <option value="EsperandoConfirmacao">Esperando Confirmação</option>
              <option value="EmPreparo">Em Preparo</option>
              <option value="Pronto">Pronto</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 class="ps-4">Valor Total: R${{valorCompleto}}</h2>
  </div>
</div>
