#containerP1 {
  background-color: #3f3b2f;
  padding-top: 5vh;
}

input {
  border: none;
  padding-top: 0;
  font-weight: bold;
  background-color: white;
  padding: 0.4rem;
}

label {
  margin-bottom: 0;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#salvaProduto {
  background-color: yellow; /* verde claro */
  border: none;
  color: black;
  border-radius: 25px;
  font-size: 0.8rem;

  text-transform: uppercase;
}

form{
    margin-left: 10%;
}

#opOutro{
  display: none;
}

#formProduto{
  width: 80%;
}

#disponibilidadeInput{
  width: 70px;
  margin-top: 50px;
  margin-left: 0;
  padding-top: 20px;
}

.form-switch {
  padding-left: 0;
}

.form-check {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  margin-bottom: 0.125rem;
}

#tabelaP{
  width: 90%;
  margin: auto;
}

#disponibilidadeOut{
  background-color: yellow;
  margin: auto;
  padding: 10px;
  width: 50px;
}