<div id="containerP1" class="h-100">
  <div id="containerP2" class="">
    <div class="d-flex w-100 justify-content-between">
      <h1 id="title" class="text-white">Meus dados</h1>
      <h2 id="pontucao" class="pt-2 d-flex">Sua pontuação: <p class="ms-4">{{pessoa?.pontuacao}}</p></h2>
    </div>

    <div class="d-flex w-100">
      <div class="w-50">
        <div class="dados col-6">
          <label class="form-label" for="nome">Nome</label>
          <input
            id="nomeInput"
            class="form-control"
            type="text"
            name="nome"
            placeholder="Insira seu nome..."
            [value]="pessoa?.nome"
            disabled
            required
          />
        </div>
        <div class="dados col-6">
          <label class="form-label" for="sexo">Sexo</label>
          <input
            id="sexoInput"
            class="form-control"
            type="text"
            name="sexo"
            placeholder="Insira seu sexo..."
            [value]="pessoa?.sexo"
            disabled
            required
          />
        </div>
        <div class="dados col-6">
          <label class="form-label" for="cpf">CPF</label>
          <input
            id="cpfInput"
            class="form-control"
            type="text"
            name="cpf"
            [value]="pessoa?.cpf"
            disabled
          />
        </div>
        <div class="dados col-6">
          <label class="form-label" for="endereco">Endereço</label>
          <input
            id="enderecoInput"
            class="form-control"
            type="text"
            name="endereco"
            placeholder="Insira seu endereço..."
            [value]="pessoa?.endereco"
            disabled
            required
          />
        </div>
      </div>
      <div class="w-50">
        <div class="dados col-6">
          <label class="form-label" for="usuario">Usuario</label>
          <input
            id="usuarioInput"
            class="form-control"
            type="text"
            name="usuario"
            placeholder="Insira seu usuario..."
            [value]="usuario?.login"
            disabled
            required
          />
        </div>
        <div class="dados col-6">
          <label class="form-label" for="senha">Senha</label>
          <input
            id="senhaInput"
            class="form-control"
            type="password"
            name="senha"
            placeholder="Insira sua nova senha..."
            disabled
            required
          />
        </div>
      </div>
    </div>

    <div class="w-75 m-auto d-flex justify-content-end gap-3">
      <button class="btn btn-danger" (click)="sairAction()">Sair</button>
      <button id="btnAlterar" (click)="manipulaDados()" class="btn btn-warning">
        Alterar
      </button>
    </div>
  </div>
</div>
