<div id="containerP1" class="h-100">
  <div id="containerP2" class="m-auto h-75">
    <h4 class="pt-3 pb-3 text-white">Selecione os produtos</h4>
    <div class="bg-white h-100">
      <div class="bg-white d-flex justify-content-around pt-4">
        <a
          class="text-uppercase nav-link"
          routerLinkActive="active"
          [ngClass]="{ active: categoriaSelecionada === 'Tudo' }"
          (click)="cardapioFilter('Tudo')"
          >Tudo</a
        >
        <a
          *ngFor="let categoria of categorias"
          class="text-uppercase nav-link"
          [ngClass]="{ active: categoriaSelecionada === categoria }"
          (click)="cardapioFilter(categoria)"
          >{{ categoria }}</a
        >
      </div>

      <div
        id="containerProdutos"
        style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr"
        class="d-grid gap-5 ms-4 mt-4"
      >
        <div
          class="card text-center"
          *ngFor="let produto of categoriasFilter; let i = index"
        >
          <h5 class="card-title">{{ produto.nome }}</h5>
          <img
            [src]="'https://sistemas-de-vendas-gocoffee-backend.onrender.com/img/' + produto.imagem"
            class="card-img-top"
            [alt]="produto.nome"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <span class="text-center">R$ {{ produto.preco }}</span>
            <div class="d-flex justify-content-center align-items-center mt-3">
              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="modificaCarrinho(produto, -1)"
              >
                -
              </button>
              <span class="mx-3">{{ retornaQuantidade(produto) }}</span>
              <button
                class="btn btn-outline-secondary btn-sm"
                (click)="modificaCarrinho(produto, 1)"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      
      <button id="next" type="submit" class="btn btn-login" [disabled]="!temItensNoCarrinho()" (click)="goToCarrinho()">Proximo</button>
    </div>
  </div>
</div>
